@font-face {
  font-family: ProximaNova-Regular;
  src: url("font/ProximaNova-Regular.otf");
}

@font-face {
  font-family: Proxima Nova Bold;
  src: url("font/Proxima Nova Bold.otf");
}

body {
  margin: 0;
  padding: 0;
  font-family: ProximaNova-Regular;
}

body {
  padding: 0px 0px;
  background: #c2c2c2;
}

body header {
  width: 100%;
  background: #ffdf88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header div {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

body header .barra-top {
  padding: 10px;
  width: 100%;
}

body header .barra-top .buscar {
  width: 70%;
}

body header .barra-top .buscar input[type="text"], body header .barra-top .buscar input[type="tel"], body header .barra-top .buscar input[type="email"], body header .barra-top .buscar input[type="password"], body header .barra-top .buscar input[type="number"] {
  background: #FFF;
  width: 50%;
  max-width: 1000px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0px solid #db4545;
  font-size: 15px;
  padding: 10px;
}

body header .barra-top .buscar input[type="text"]:hover, body header .barra-top .buscar input[type="tel"]:hover, body header .barra-top .buscar input[type="email"]:hover, body header .barra-top .buscar input[type="password"]:hover, body header .barra-top .buscar input[type="number"]:hover, body header .barra-top .buscar textarea:hover {
  border-color: #f8b1b1;
}

body header .barra-top .buscar input[type="text"]:focus, body header .barra-top .buscar input[type="tel"]:focus, body header .barra-top .buscar input[type="email"]:focus, body header .barra-top .buscar input[type="password"]:focus, body header .barra-top .buscar input[type="number"]:focus, body header .barra-top .buscar textarea:focus {
  border: 1px solid #f8b1b1;
  -webkit-box-shadow: 0px 0px 8px #f8b1b1;
          box-shadow: 0px 0px 8px #f8b1b1;
  outline: none;
}

body header .barra-top .buscar select {
  line-height: 1.3;
  padding: 10px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0px solid #db4545;
  border-radius: 5px;
  background: #ffffff;
}

body header .barra-top .buscar select option {
  font-weight: normal;
  padding: 5px;
}

body header .barra-top .buscar select:hover {
  border-color: #f8b1b1;
}

body header .barra-top .buscar select:focus {
  border: 1px solid #f8b1b1;
  -webkit-box-shadow: 0px 0px 8px #f8b1b1;
          box-shadow: 0px 0px 8px #f8b1b1;
  outline: none;
}

body header .barra-top .buscar button {
  color: #ffffff;
  border: 0;
  border-radius: 10px;
  background: #db4545;
  padding: 5px 25px;
  vertical-align: middle;
}

body header .barra-top .buscar button:hover {
  background: #f8b1b1;
  cursor: pointer;
  color: #3a3a3a;
}

body header .barra-top .buscar button:focus {
  -webkit-box-shadow: 0px 0px 8px #f8b1b1;
          box-shadow: 0px 0px 8px #f8b1b1;
}

body header .barra-top .img {
  width: 10%;
}

body header .barra-top .calificar {
  width: 15%;
}

body header .barra-top .calificar a {
  font-size: 15px;
  font-family: Proxima Nova Bold;
  text-decoration: none;
  color: #3a3a3a;
  padding: 10px;
  border-radius: 10px;
  border: 0px solid #db4545;
  background: #FFFFFF;
}

body header .barra-top .calificar a img {
  vertical-align: middle;
}

body header .barra-top .calificar a:hover {
  background: #f8b1b1;
}

body .menu_bar {
  display: none;
  position: absolute;
}

body .menu_bar i {
  color: #db4545;
}

@media screen and (max-width: 1000px) {
  body header .barra-top .img {
    display: none;
    width: 0%;
  }
  body header .barra-top .calificar {
    display: none;
    width: 0%;
  }
  body header .barra-top .buscar {
    width: 100%;
  }
  body header .barra-top .buscar input[type="text"] {
    width: 80%;
  }
  body header .barra-top .buscar button {
    padding: 5px 10px;
  }
  body header .barra-top .buscar select {
    display: none;
    width: 0%;
  }
  body .menu_bar {
    display: block;
    margin: 10px;
    position: fixed;
  }
  body .menu_bar a {
    background: #db4545;
    padding: 5px 5px;
    border-radius: 50%;
    display: block;
  }
  body .menu_bar a i {
    color: #FFFFFF;
    vertical-align: middle;
    font-size: 50px;
  }
}
/*# sourceMappingURL=header.css.map */