@import "main.sass"

.espacio
    width: 100%
    padding: 20px 
    box-sizing: border-box
    display: flex
    .posts
        width: 70%
        background: $azul-1
        margin: 0px 10px 0px 0px

    .stats
        width: 30%
        margin: 0px 0px 0px 10px