<header>
    <div class="barra-top">
        <div class="img">
            <img src="../images/logo-rojo.png" alt="logo" width="120px">
        </div>
        <div class="buscar">
            <form action="#" method="get">
                <input type="text" name="buscar" id="buscar" placeholder="Escribe un nombre para buscar">
                <select name="buscar_tipo" id="buscar_tipo">
                    <option value="usuarios">Usuarios</option>
                    <option value="materias">Materias</option>
                    <option value="profesores">Profesores</option>
                </select>
                <button><i class="material-icons">search</i></button>
            </form>
        </div>
        <div class="calificar">
            <a href="#"><img src="../images/ico-man-buena.png" alt="manzana" width="25px"> Calificar</a>
        </div>
    </div>
</header>
<div class="menu_bar">
    <a href="#"><i class="material-icons">menu</i></a>
</div>