<header>
    <div class="barra-top">
        <div class="img">
            <a href="index"><img src="images/logo-rojo.png" alt="logo" width="120px"></a>
        </div>
        <div class="buscar">
            <form action="Buscar/" method="get">
                <input type="text" name="buscar" id="buscar" placeholder="Usuario, Materia o Profesor">
                <select name="buscar-tipo" id="buscar-tipo">
                    <option value="usuarios">Usuarios</option>
                    <option value="materias">Materias</option>
                    <option value="profesores">Profesores</option>
                </select>
                <button><i class="material-icons">search</i></button>
            </form>
        </div>
        <div class="calificar">
            <a href="Calificar/"><img src="images/ico-man-buena.PNG" alt="manzana" width="25px"> Calificar</a>
        </div>
    </div>
</header>
<div class="menu_bar">
    <a href="#"><i class="material-icons">menu</i></a>
</div>