<header>
    <div class="barra-top">
        <div class="img">
            <img src="images/logo-rojo.png" alt="logo" width="100px">
        </div>
        <div class="buscar">
            <form action="" method="get">
                <input type="text" name="buscar" id="buscar" placeholder="Escribe un nombre para buscar">
                <select name="buscar-tipo" id="buscar-tipo">
                    <option value="usuarios">Usuarios</option>
                    <option value="materias">Materias</option>
                    <option value="profesores">Profesores</option>
                </select>
                <input type="submit" value="Buscar">
            </form>
        </div>
        <div class="calificar">
            <a href="#"><img src="images/ico-man-buena.png" alt="manzana" width="25px"> Calificar</a>
        </div>
    </div>
</header>