@import "../main.sass"

.frame
    table
        margin: 20px auto
        text-align: left
        td
            padding: 7px 25px
            a
                color: #ffffff
                text-decoration: none
                padding: 5px 7px
                border-radius: 5px
            a[class="calif"]
                background: $azul-2
            a[class="no-calif"]
                background: $verde-2
            a:hover
                background: $azul-1
    p
        font-family: $font-2
        color: $rojo-3